<link href="/style.css" rel="stylesheet" type="text/css" />

<body>
  <a href="http://localhost:<%=port%>/allbooksejs"
    ><button class="allbooksbutton">All Books</button></a
  >




  <h1>Public Chat</h1>
  <div class="bookCard">
    <div class="container">
        <% chat.map(e=> {%>

      <div class="mainsection">
        <h4><%= e.user%></h4>
        <p><%= e.chat%></p>
    </div>

        <% }) %>
        <p>
            <form id="form" method="post" action="/public">
                <label for="user">Username</label><br />
                <input type="text" id="user" name="user" /><br />
                <label for="chat">Chat</label><br />
                <input type="text" id="chat" name="chat" /><br />
                <button>Send</button>
              </form>
        </p>


    </div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();
  
    var form = document.getElementById('form');
    var chat = document.getElementById('chat');
    var user = document.getElementById('user');
  
    // form.addEventListener('submit', function(e) {
    //     e.preventDefault();
    //     // console.log("work");
    //   if (chat.value) {
    //     socket.on("publicchat",{"user":user, "chat":chat});
    //     // console.log(input.value);
    //     input.value = '';
    // }
    // });

    socket.on("publicchat",function(msg){
        console.log(msg);
        (function()
 {
  if( window.localStorage ){
    if(!localStorage.getItem('firstReLoad')){
     localStorage['firstReLoad'] = true;
     window.location.reload();
    } else {
     localStorage.removeItem('firstReLoad');
    }
  }
 })();

        // socket.emit("publicchat2","helloooo")
    })

  //   io.connect("http://localhost/3000/public").on("publicchat2",function(msg){
  // // $("#form").html(msg) 
  // console.log("message irlee")
// })

    // socket.emit("publicchat1")

    
  </script>

</body>
